/*CSS reset*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/

/*Generics*/
img{
    object-fit: contain;
    height: 100%;
}
/*Utilties*/
.container{
    padding: 1rem;
    margin: 2rem;
    border: dashed black 1px;
}
.gallery{
    height: 600px;
}